@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #131313;
}

body {
  color: #ffffff;
  background-color: #131313;
}
html {
  overflow-y: scroll; /* Kaydırma özelliği aktif, ama scrollbar görünmez olacak */
  -ms-overflow-style: none; /* IE ve Edge */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar {
  display: none; /* Chrome, Safari ve Opera */
}

#cog1,
#cog2,
#cog3 {
  animation: spin 4s linear infinite;
  transform-origin: center;
  transform-box: fill-box;
  animation-delay: 0.6s;
}

#cog1 {
  fill: #ae22b0;
}

#cog2 {
  animation: spinback 4s linear infinite;
  animation-delay: 0.6s;
  fill: #38bcf6;
}

#cog3 {
  fill: #ae22b0;
}

@-webkit-keyframes pop {
  0% {
    transform: scale(0);
  }
  90% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@-webkit-keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinback {
  100% {
    transform: rotate(-360deg);
  }
}

.animate-404 {
  margin: 80px auto 0;
  border-radius: 50%;
  overflow: hidden;
  width: 170px;
  height: 170px;
  position: relative;
}

.animate-404 > svg {
  animation: pop 0.4s ease-in;
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-47%, -50%);
}
@keyframes token-rise {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

@keyframes token-fall {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

@keyframes token-drift-left {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-30px);
  }
}

@keyframes token-drift-right {
  0%,
  100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30px);
  }
}
.token-rise {
  animation: token-rise 4s infinite ease-in-out;
}

.token-fall {
  animation: token-fall 5s infinite ease-in-out;
}

.token-drift-left {
  animation: token-drift-left 3s infinite ease-in-out;
}

.token-drift-right {
  animation: token-drift-right 6s infinite ease-in-out;
}
